@charset "utf-8";
.weather-wrapper 
{
	border:solid 2px #ADC0CF;
	background:url('../images/background.png') repeat-x bottom left #F4FFFF;
	color:#000;
	width:230px;
	height:175px;
	text-align:center;
	position:relative;
	padding:10px 10px 10px 10px;
	margin: 20px 0;
	/* CSS 3 Stuff */
	background:-webkit-gradient(linear,0% 20%,0% 100%,from(#F4FFFF),to(#d2e5f3));
	background:-moz-linear-gradient( 80% 100% 90deg,#d2e5f3,#F4FFFF);
	-moz-border-radius:5px;
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.2);
	box-shadow:1px 1px 4px rgba(0,0,0,0.2);
	-webkit-border-radius:5px;
	-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.2);
	border-radius:7px;
}
.weather-wrapper .weather-location 
{ 
	font-weight: bold; 
}
.weather-wrapper .weather-location .weather-country 
{ 
	display: block; 
	font-size: 12px; 
}
.weather-wrapper .weather-forecast 
{ 
	margin: 10px auto 0; 
	width: 200px; 
	padding: 0; 
	list-style: none; 
	text-align: left; 
	background: none; 
}
.weather-wrapper .weather-forecast li 
{ 
	overflow: hidden; 
	line-height: 32px; 
	margin: 0; 
	padding: 2px 0; 
	list-style: none; 
	text-align: left; 
	background: none; 
}
.weather-wrapper .weather-icon-thumb 
{ 
	display: inline-block; 
	width: 50px; 
	vertical-align: middle; 
	float: left; 
}
.weather-wrapper .weather-day 
{ 
	display: inline-block; 
	width: 50px; 
	float: left; 
}
.weather-wrapper .weather-hilo 
{ 
	display: inline-block; 
	width: auto; 
	float: left; 
}
.weather-compact  .weather-location 
{ 
	margin-top: 5px; 
}
.weather-wrapper 
{
	padding:50px 10px 10px 10px;
	margin:50px 0 20px;
}
.weather-wrapper .weather-icon 
{
	position:absolute;
	top:-50px;
	left:50%;
	margin-left:16%;
	text-align:center;
}
.weather-temperature 
{
	display:block;
	font-size:20px;
	height:34px;
	line-height:40px;
	margin:2px auto 10px;
	text-shadow:1px 1px 1px #fff;
}
.weather-forecast 
{ 
	margin-top: 10px; 
}
.icit-credit-link 
{ 
	margin: 20px 0; 
	font-size: 10px; 
}
 .weather-wrapper .weather-icon 
{
	left:0;
}